$bg: #1F2030;
$secondary: #003366;
$yellow: #FFDB58;
$cyan: #00FFFF;
$red: #FF4040;

$font: "Press Start 2P", system-ui;

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');