//*HELPERS
@use '../helpers/mixins' as *;
@use '../helpers/variables' as *;

//*COMPONENTS
@use '../components/app';

body,
html {
  margin: 0;
  background-color: $bg;
  font-family: $font;
}

* {
  box-sizing: border-box;
}

