//*HELPERS
@use '../helpers/mixins' as *;
@use '../helpers/variables' as *;

//*COMPONENTS
@use '../components/app';
@use '../components/star';

body{
  margin: 0;
  background-color: $bg;
  font-family: $font;
  background-image: url(./assets/images/bg.jpg);
  background-size: cover;
  position: center;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  body,
  html {
    background-image: url('./assets/images/bg.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
}
